img.calibre-suggest-cover {
	height: 10em;
}

.calibre-suggest-wrapper {
	height: 250px;
	max-height: 250px;
	overflow: hidden;
}

.calibre-suggest-title {
	display: block;
	color: var(--interactive-success);
}

.calibre-suggest-authors {
	color: var(--interactive-accent);
}

.calibre-suggest-cover {
	float: right;
}

.calibre-suggest-text {
	float: left;
	max-width: 70%;
}

.calibre-suggest-comments {
	overflow: hidden;
	text-overflow: ellipsis;
}

.calibre-modal .data-wrapper {
}

.calibre-modal .data-wrapper .cover {
	float: left;
	max-width: 30%;
	width: 30%;
	height: 100%;
}

.calibre-modal .data-wrapper .metadata {
	float: right;
	width: 70%;
	height: 100%;
}
